.footer {
  @apply relative text-lightGold bg-primary;

    &::before,
    &::after{
      content: '';
      position: absolute;
      height:100%; 
      width:174px;
      @media (max-width: 1640px) {
        opacity: 0.1;
      }
    }

    &::before {
      left:0;
      bottom:0;
      @apply bg-[url('/footer-decor.svg')] bg-left-bottom bg-no-repeat;
    }

    &::after {
      right:0;
      top:0;
      transform: rotate(-180deg);
      @apply bg-[url('/footer-decor.svg')] bg-right-bottom bg-no-repeat;
    }

		// .footer__container

		&__container {
      @apply relative container z-50;

      @screen max-pc {
        @apply px-container;
      }
		}

		// .footer__body

		&__body {
      @apply grid grid-cols-3;
      padding-top: clamp(40px, 5vw, 92px);
      padding-bottom: clamp(30px, 5vw, 45px);

      @screen max-tablet {
        @apply grid-cols-2; 
      }

      @screen max-mobile {
        @apply grid-cols-[auto];
      }
		}

		// .footer__content

		&__content {
      padding-right: clamp(15px, 2.3vw, 40px);

      @screen max-tablet {
        @apply order-2;
      }

      @screen max-mobile {
        @apply order-3;
      }

      @screen tablet {
        @apply border-r border-lightGold;
      }
		}

		// .footer__menu

		&__menu {
      &:not(:last-child){
        margin-bottom: clamp(20px, 2.3vw, 40px);
      }
		}

    // .footer__social
    &__social{
      
    }

		// .footer__logo

		&__logo {
      @apply justify-self-center self-center;
      width: clamp(150px, 19vw, 287px);

      @screen max-tablet {
        @apply order-1 col-span-2;

        &:not(:last-child){
          margin-bottom: clamp(30px, 4.1vw, 40px);
        }
      }

      @screen max-mobile {
        @apply col-span-1;
      }
		}

		// .footer__subscribe

		&__subscribe {
      @screen max-tablet {
        @apply order-3;
      }

      @screen max-mobile {
        @apply order-2;
        margin-bottom: clamp(20px, 4.1vw, 40px);
      }
		}

    &__copy {
      @apply border-t border-lightGold text-center leading-[120%];
      padding-top: clamp(15px, 5vw, 42px);
      padding-bottom: clamp(15px, 5vw, 42px);
    }
}

.menu-footer {
  &__title{
    @apply font-italiana text-[20px] font-[400] leading-[100%];
    list-style : none;
    text-transform: capitalize;

    &::marker,
    &::-webkit-details-marker {
      display: none;
    }

    &:not(:last-child){
      @apply mb-[15px];
    }

    @screen max-mobileSmall {
      @apply flex justify-between items-center cursor-pointer;

      &::after {
        content: '';
        @apply bg-[url('/arrow.svg')] bg-no-repeat bg-right min-w-[25px] h-[26px] transition-transform duration-300;
        transform: rotate(90deg);
      }
    }
  }

  &[open] .menu-footer__title::after {
    transform: rotate(-90deg);
  }

  &__list {
    @apply flex flex-wrap gap-x-[max(0px,clamp(0.93rem,3vw,2.937rem))];

    @screen max-mobileSmall{
      @apply flex-col flex-nowrap space-y-[20px];
    }
  }

  &__item {

  }

  &__link {
    @apply transition-all font-[300] duration-300 leading-[156%] inline-block;
    @media(any-hover: hover) {
      &:hover {
        @apply text-gold underline underline-offset-1;
      }
    }
  }
}

.subscribe {
  @screen mobile {
    @apply  border-l border-lightGold grid justify-end;
    padding-left: clamp(15px, 2.3vw, 40px);
  }

    // .subscribe__body

    &__body {
      @apply flex flex-col gap-y-[15px];

      @screen mobile {
        @apply max-w-[350px];
      }
    }

		// .subscribe__title

		&__title {
      @apply font-italiana font-[400] leading-[120%];
      font-size: clamp(18px, 3vw, 32px);
      text-transform: capitalize;
		}

		// .subscribe__form

		&__form {
      @apply flex h-[40px] border-b border-lightGold border-opacity-20;
		}

		// .subscribe__input

		&__input {
      flex: 1 1 auto;
		}

		// .subscribe__button

		&__button {
      @apply transition-colors duration-300;
      @media(any-hover: hover) {
        &:hover {
          @apply text-gold;
        }
      }
		}
}

.social{
  @apply flex items-center flex-wrap gap-x-[max(0px,clamp(0.93rem,3vw,2.937rem))];

  @screen max-mobileSmall{
    @apply justify-between;
  }

  &__item {
    @apply w-[24px] h-[24px];
  } 
}

.item-instagram,
.item-media,
.item-snapchat,
.item-tiktok {
  @apply w-[24px] h-[24px] transition-all duration-300;
  @media(any-hover: hover) {
    &:hover {
      path {
        @apply fill-gold;
      }
    }
  }
}
